.image{
    max-height: 300px;
    margin: 0 auto;
  }
  .yellowBack{
    background-color: yellow!important;
    color:red!important;
    font:900!important
  
  }
  img{
    margin-top:10px!important;
    margin-bottom: 10px!important;
  }
  p{
    font:900!important
  }
  