<carousel [interval]=2000>
    <slide>
      <div class="text-center py-5 bg-dark text-white yellowBack">
        <h2><strong>Abdelhameed Sharara</strong></h2>
        <img class="image" src="assets/images/4.png">
        <div class="lead">
          <p>FOUNDER & CEO AT RISEUP</p>
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center py-5 bg-dark text-white yellowBack">
        <h2><strong>Samy</strong></h2>
        <img class="image" src="assets/images/5.jpg">
        <div class="lead">
          <p>PRODUCT MANAGER, CONNECT</p>
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center py-5 bg-dark text-white yellowBack">
        <h2><strong>Salma Ellakany</strong></h2>
        <img class="image" src="assets/images/6.png">
        <div class="lead">
          <p>CXO, RiseUp</p>
        </div>
      </div>
    </slide>
    <slide>
        <div class="text-center py-5 bg-dark text-white yellowBack">
          <h2><strong>Yasmine Helmy</strong></h2>
          <img class="image" src="assets/images/7.png">
          <div class="lead">
            <p>SENIOR GROWTH MARKETER AT INSTABUG</p>
          </div>
        </div>
    </slide>
    <slide>
        <div class="text-center py-5 bg-dark text-white yellowBack">
          <h2><strong>Con O'Donnell</strong></h2>
          <img class="image" src="assets/images/8.jpeg">
          <div class="lead">
            <p>CBO & Co-Founder at RiseUp</p>
          </div>
        </div>
    </slide>
  </carousel>
