<div class="container" style="margin-top:40px;">
    <div class="row" style="margin-top:40px;">
        <div class="col-lg-4">
            <img class="img-responsive" style="width:100%;height:auto" src="assets/images/RiseUpConnect.png" alt="">
        </div>
        <div class="col-lg-8">
            <h1 style="text-align:center;color:red;font:900"><strong>RiseUp Connect</strong></h1>
            <p class="lead" style="text-align:center">Over the years RiseUp managed to connect stakeholders to local & global networks, also fusing
            diverse talents and resources to fulfill startups needs for the most relevant resources from experts. RiseUpConnect aims to build a healthy environment
            for all our stakeholders and especially Startups. RiseUpConnect aims to help startups whether they are in the early stage or in the developed stage.
            We provide many features and the two most important features are the Startup Kit and Office Hours.
            </p>
        </div>
    </div>
</div>
<hr style="color:yellow;border:none;height:1px;background-color:yellow;margin-top:30px;margin-bottom:30px">
<div class="container">
              <div class="row" style="margin-top:40px;">
                <div class="col-lg-8">
                    <h1 style="text-align:center;color:red;font:900"><strong>Office Hours</strong></h1>
                    <p>
                      Office Hours is a RiseUp connect feauture that connects Startups with experts worldwide to fulfill all the missing gaps needed for a Startup company to succeed.
                      Whenever you need help to develop more more and more just request an office hours slot from one of our specialized experts.
                    </p>
                    <div  style="text-align:center">
                        <button class="btn btn-danger" routerLink="/officehours">To Office hours <i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h1 class="img-responsive" style="text-align:center;color:yellow;font:900;width:100%;height:auto"><i class="fa fa-clock-o fa-5x"></i></h1>
                </div>
              </div>

              <!-- <h1><i class="fa fa-briefcase fa-2x"></i> Startup Kit</h1> -->
              <div class="row" style="margin-top:40px">
                <div class="col-lg-4">
                    <h1 class="img-responsive" style="text-align:center;color:yellow;font:900;width:100%;height:auto"><i class="fa fa-briefcase fa-5x"></i></h1>
                </div>
                <div class="col-lg-8">
                    <h1 style="text-align:center;color:red;font:900"><strong>Startup Kit</strong></h1>
                    <p>
                      Office Hours is a RiseUp connect feauture that connects Startups with experts worldwide to fulfill all the missing gaps needed for a Startup company to succeed.
                      Whenever you need help to develop more more and more just request an office hours slot from one of our specialized experts.
                    </p>
                    <div  style="text-align:center">
                        <button class="btn btn-danger">To Startup Kit <i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>              
            <div class="row" style="margin-top:40px">
                <div class="col-lg-8">
                    <h1 style="text-align:center;color:red;font:900"><strong>Perks</strong></h1>
                    <p>
                        Connect enables startups to get access to exclusive offerings of tools and services that are tailored based on their needs at different stages. These offerings are to support the ecosystem from startup to another or from corporates to startups. The perks include tools and service such as: hosting, marketing, ads, payment solutions, legal services, financial services, mail, office space, transportation, office furniture, recruitment, consulting sessions, health and lifestyle.
                    </p>
                    <div  style="text-align:center">
                        <button class="btn btn-danger">To Perks <i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h1 class="img-responsive" style="text-align:center;color:yellow;font:900;width:100%;height:auto"><i class="fa fa-gift fa-5x"></i></h1>
                </div>
            </div>  
        </div>


<!-- <modal id="custom-modal-1">
    <div class="modal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <p>
                Home page text: <input type="text" [(ngModel)]="bodyText" />
            </p>
            <button (click)="closeModal('custom-modal-1');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div> -->